

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    /*background:url("../assets/images/SaveurLogo2.svg") no-repeat  center ;*/
    width: 80%;
    height: 150px;

    object-fit: contain;




}


@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
